body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #0d1117;
}

header {
  background-color: #161b22;
  color: white;
  padding: 20px;
  position: relative;
}

p ,h2, h3 {
  color: #d1d5db; /* Light gray */
}
li{
  color: #004080;
}
nav {
  display: flex;
  justify-content: center;
  background: #161b22;
  gap: 20px;
  padding: 10px;
}

nav a {
  color: #c9d1d9;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

nav a:hover {
  background: #21262d;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Burger menu */
.burger {
  display: none;
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.burger .line {
  width: 25px;
  height: 3px;
  background: white;
}

/* Responsive Navigation */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  nav {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  nav.active {
    display: flex;
  }
}
header h1{
  color: #c9d1d9;
  justify-content: justify;
}
.index{
  color: #178582;
  border-width: 100%;
  text-decoration: none;
}
main {
  padding: 2rem;
}
img, video {
  max-width: 100%;
  height: auto;
}
footer {
  background: #161b22;
  text-align: center;
  padding: 1rem;
}
