body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f1f1f1;
}
header, nav, main, footer {
  padding: 1rem;
  background-color: turquoise;
}
nav {
  background: #0A1828;
  text-align: center;
}
nav a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
}
header h1{
  color: #004080;
  justify-content: justify;
}
header p{
  color:#000000;
}
.index{
  color: #178582;
  border-width: 100%;
  text-decoration: none;
}
main {
  padding: 2rem;
}
img, video {
  max-width: 100%;
  height: auto;
}
footer {
  background: #eee;
  text-align: center;
  padding: 1rem;
}
@media (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  nav a {
    margin: 0.5rem 0;
